/* Pulse más rápido para el multiplicador de combo */
@import "tailwindcss";
@import "./utilities.css";
@import "./primevue.css";

:root {
  --color-blue: #142c96;
  --color-lila: #cc5de8;
  --color-gray: #dbdddd;
  --color-orange: #f9490d;
  background-color: var(--color-gray);
}

body {
  scroll-behavior: smooth;
  font-weight: 300;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
}

.pulse-fast {
  animation-duration: 0.5s !important;
}